<div  ng-controller="UserInfoController">
<div class="p+ mt+">
<div class="card p+ tc-red-400">

    <lx-icon lx-type="flat" lx-size="xs" lx-id="information" ></lx-icon>
	
	完善以下个人信息中的空缺部分，将帮助你更好找到合适的项目!
	
</div>
</div>

<div class="p+">
<div class="card">
	<lx-tabs lx-active-tab="vm.activeTab" lx-color="blue">
	    <lx-tab lx-label="个人信息">
	    	<div class="rc-alert" ng-show="fal">

	    		Replace with Icon: Alert Message will display here{{alertMessage}}
	    	</div>
	    	<div flex-container="row" flex-columns="12" class="p+">
	    		<div flex-item="2">
	            	<div class="ib-avatar" >
	            		<img class="card" src="/img/head.jpg"/>
        				<lx-button lx-color="blue" class="ib-btn-stretch">修改头像</lx-button>
	            	</div>
	    		</div>
	    		<div flex-item="10">
	    			<div flex-container="column" >

	    			<div class="mb+" flex-container="row" flex-columns="12" >
	    				<strong flex-item="2">
	    					用户名
	    				</strong>
	    				<div flex-item="10">
	    					<span>{{username}}</span>
    						<lx-icon lx-color="blue" lx-id="account" lx-type="flat" lx-size="xs" class="ml+"></lx-icon>
	    					<lx-switch ng-true-value="1" ng-false-value="0" ng-model="status.value" ng-change="status.noeditUpdate()" lx-color="blue" lx-size="xs" class="rc-inline ml+">
	    					{{status.value==1?"设为隐身":"设为在线"}}</lx-switch>
	    					
	    				</div>

	    			</div>
	    			<div class="mb+" flex-container="row" flex-columns="12" >
	    				<strong flex-item="2">
	    					角色
	    				</strong>
	    				<div flex-item="10">
	    					<span>{{role|getName:"role"}}</span>	
	    					<span class="ml+">
	    					<lx-icon lx-color="orange" lx-type="flat" lx-size="xs" lx-id="star" class="rc-icon-16"></lx-icon> 
	    					<lx-icon lx-color="orange" lx-type="flat" lx-size="xs" lx-id="star" class="rc-icon-16"></lx-icon>  
	    					<lx-icon lx-color="orange" lx-type="flat" lx-size="xs" lx-id="star" class="rc-icon-16"></lx-icon>  
	    					<lx-icon lx-color="orange" lx-type="flat" lx-size="xs" lx-id="star-half" class="rc-icon-16"></lx-icon> 
	    					<lx-icon lx-color="orange" lx-type="flat" lx-size="xs" lx-id="star-outline" class="rc-icon-16"></lx-icon>
	    					</span>    					
	    				</div>

	    			</div>
	    			<div class="mb+" flex-container="row" flex-columns="12" >
	    				<strong flex-item="2">
	    					联系电话
	    				</strong>
	    				<div flex-item="10">
	    					<span>{{contactPhone}}</span>

						    <lx-button lx-type="icon" lx-color="blue" lx-size="s"><i class="mdi "></i></lx-button>
	    				</div>

	    			</div>

	    			<div flex-container="row" flex-columns="12" >
	    				<strong flex-item="2">
	    					所在位置
	    				</strong>
	    				<div flex-item="10">
	    					<div ng-show="!geo.editMode">
		    					<span>{{geo.value.province|getName:"province"}} 
		    						{{geo.value.city|getName:"city"}} 
		    						{{geo.value.street}}</span>
		    					
	    						<lx-button lx-type="icon" lx-color="blue" lx-size="s" ng-click="geo.edit()"><i class="mdi mdi-border-color"></i></lx-button>
	    					</div>
    						<div ng-show="geo.editMode">
    						
							
							<div flex-container="row" flex-columns="12">
								<div flex-item="5">
									<lx-select class="rc-select" ng-model="geo.editvalue.province"
						               lx-choices="options.province"
						               lx-fixed-label="true"
						               lx-label="省份/直辖市"
						               lx-multiple="false">

							        <lx-select-selected>
							            {{ $selected|getName:"province" }}
							        </lx-select-selected>
							 
							        <lx-select-choices>
							            {{ $choice|getName:"province" }}
							        </lx-select-choices>
							        </lx-select>
								</div>
								<div flex-item="5">
									<lx-select class="rc-select"  ng-disabled = "!geo.editvalue.province" ng-model="geo.editvalue.city"
						               lx-choices="geo.editvalue.province|getCities"
						               lx-label="城市"
						               lx-fixed-label="true"
						               lx-multiple="false"
						               lx-error="geo.editvalue.city|isEmptyOrNull" >


							        <lx-select-selected>
							            {{ $selected|getName:"city" }}
							        </lx-select-selected>
							 
							        <lx-select-choices>
							            {{ $choice|getName:"city" }}
							        </lx-select-choices>
							        </lx-select>
								</div>
								<div flex-item="2">
								</div>
							</div>
							<div flex-container="row" flex-columns="12" flex-gutter="24">
								<div flex-item="10">
									<lx-text-field lx-label="所在街道" 
						               lx-fixed-label="true" class="rc-text" >
						        		<input type="text" ng-model="geo.editvalue.street">
						    		</lx-text-field>
								</div>

								<div flex-item="2">
									<lx-button lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="geo.update()"><i class="mdi mdi-check"></i></lx-button>
									<lx-button lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="geo.cancel()"><i class="mdi mdi-close"></i></lx-button>
								</div>
							</div>


							
							</div>

	    				</div>

	    			</div>
	    			</div>


	    		</div>
	    	</div>

			<div class="divider divider--dark ml+ mr+"></div>
			<div ng-if="role===2">
			<div flex-container="row" flex-column="12" class="p+">
			    <strong flex-item="2">
					我的技能
				</strong>
				<div flex-item="10" ng-show="!skills.editMode">
					<span ng-repeat="item in skills.value">
						<span>{{item|getName:"skill"}}</span>
						<lx-button lx-type="icon" lx-color="blue"  ng-click="skills.delete($index)" lx-size="xs"><i class="mdi mdi-close" ></i></lx-button>
					</span>
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" ng-click="skills.edit()" class="ml+"><i class="mdi mdi-plus"></i></lx-button>
				</div>
				<div flex-item="10" ng-show="skills.editMode" flex-column="12" flex-container="row">
					<div flex-item="10">
						<lx-select  class="rc-select"  ng-model="skills.editvalue"
				               lx-choices="options.skill"
				               lx-fixed-label="true"
				               lx-display-filter="true"
				               lx-filter= "selectSearchFilter(newValue,'skill')"
               				   lx-label="添加你熟悉的技能" 
               				   lx-error="skills.editvalue.length===0"
				               lx-multiple="true">
				        <lx-select-selected>
				            {{ $selected|getName:"skill" }}
				        </lx-select-selected>
				 
				        <lx-select-choices>
				            {{ $choice|getName:"skill" }}
				        </lx-select-choices>
				        </lx-select>
				    	</div>
					<div flex-item="2">
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="skills.update()"><i class="mdi mdi-check"></i></lx-button>
					<lx-button lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="skills.cancel()"><i class="mdi mdi-close"></i></lx-button>
				</div>
				</div>
			</div>
			<div flex-container="row" flex-column="12" class="p+">
			    <strong flex-item="2">
					我的学历
				</strong>
				<div flex-item="10" >
					<div ng-show="!education.editMode">
						<span>{{education.value|getName:"education"}}</span><lx-button ng-click="education.edit()" lx-type="icon" lx-color="blue" lx-size="xs"><i class="mdi mdi-border-color"></i></lx-button>
					</div>
					<div flex-container="row" ng-show="education.editMode" flex-columns="12">
						<lx-select class="rc-select" ng-model="education.editvalue"
			               lx-choices="options.education"
			               lx-fixed-label="true"
			               lx-label="请选择学历"
			               lx-multiple="false" flex-item="6">

					        <lx-select-selected>
					            {{ $selected|getName:"education" }}
					        </lx-select-selected>					 
					        <lx-select-choices>
					            {{ $choice|getName:"education" }}
					        </lx-select-choices>
				        </lx-select>
			    		<div flex-item="6">
				    		<lx-button lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="education.update()"><i class="mdi mdi-check"></i></lx-button>
							<lx-button lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="education.cancel()"><i class="mdi mdi-close"></i></lx-button>
						</div>
				    </div>
				</div>
			</div>
			<div flex-container="row" flex-column="12" class="ml+ mt+">
			<strong flex-item="5">
					我的工作兴趣
			</strong>
			</div>

			<div class="divider divider--dark ml+ mr+"></div>
			<div flex-container="row" flex-column="12" class="p+">
			<span flex-item="2">
					行业
			</span>
			<div flex-item="10" ng-show="!industries.editMode">
					<span ng-repeat="item in industries.value">
						<span>{{item|getName:"industry"}}</span>
						<lx-button lx-type="icon" lx-color="blue"  ng-click="industries.delete($index)" lx-size="xs"><i class="mdi mdi-close" ></i></lx-button>
					</span>
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" ng-click="industries.edit()" class="ml+"><i class="mdi mdi-plus"></i></lx-button>
				</div>
				<div flex-item="10" ng-show="industries.editMode" flex-column="12" flex-container="row">
					<div flex-item="10">
						<lx-select  class="rc-select"  ng-model="industries.editvalue"
				               lx-choices="options.industry"
				               lx-fixed-label="true"
				               lx-label="请选择行业"
				               lx-display-filter="true"
				               lx-filter="selectSearchFilter(newValue,'industry')"
				               lx-multiple="true">
				        <lx-select-selected>
				            {{ $selected|getName:"industry" }}
				        </lx-select-selected>
				 
				        <lx-select-choices>
				            {{ $choice|getName:"industry" }}
				        </lx-select-choices>
				        </lx-select>
				    	</div>
					<div flex-item="2">
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="industries.update()"><i class="mdi mdi-check"></i></lx-button>
					<lx-button lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="industries.cancel()"><i class="mdi mdi-close"></i></lx-button>
				</div>
				</div>
			</div>
			<div flex-container="row" flex-column="12" class="p+">
			<span flex-item="2">
					工作城市
			</span>
			<div flex-item="10" ng-show="!cities.editMode">
					<span ng-repeat="item in cities.value">
						<span>{{item|getName:"city"}}</span>
						<lx-button lx-type="icon" lx-color="blue"  ng-click="cities.delete($index)" lx-size="xs"><i class="mdi mdi-close" ></i></lx-button>
					</span>
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" ng-click="cities.edit()" class="ml+"><i class="mdi mdi-plus"></i></lx-button>
				</div>
				<div flex-item="10" ng-show="cities.editMode" flex-column="12" flex-container="row">
					<div flex-item="10">
						<lx-select  class="rc-select"  ng-model="cities.editvalue"
				               lx-choices="options.city"
				               lx-fixed-label="true"
				               lx-label="请选择感兴趣的工作地点"
				               lx-display-filter="true"
				               lx-filter="selectSearchFilter(newValue,'city')"
				               lx-multiple="true">
				        <lx-select-selected>
				            {{ $selected|getName:"city" }}
				        </lx-select-selected>
				 
				        <lx-select-choices>
				            {{ $choice|getName:"city" }}
				        </lx-select-choices>
				        </lx-select>
				    	</div>
					<div flex-item="2">
					<lx-button lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="cities.update()"><i class="mdi mdi-check"></i></lx-button>
					<lx-button lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="cities.cancel()"><i class="mdi mdi-close"></i></lx-button>
				</div>
				</div>
			</div>
			<div flex-container="row" flex-column="12" class="p+">
				<span flex-item="2">
						薪水范畴
				</span>
				<div flex-item="10" ng-show="!(minPay.editMode || maxPay.editMode)">
					
					<span> {{minPay.value}} 至 {{maxPay.value}}</span>
        			<lx-button ng-click="minPay.edit();maxPay.edit();" lx-type="icon" lx-color="blue" lx-size="xs"><i class="mdi mdi-border-color"></i></lx-button>
				</div>
				<div flex-item="10" ng-show="minPay.editMode || maxPay.editMode" flex-column="12" flex-container="row">
					<input flex-item="3" class="mr+ {{isNaN(minPay.editvalue)?'rc-error':''}}" type="number" ng-model="minPay.editvalue" min="0" max="{{maxPay.editvalue}}" />
       				 <span flex-item="1" class="mr+"> 至 </span>
        			<input flex-item="3" class="mr+ " type="number" ng-model="maxPay.editvalue" min="{{minPay.editvalue}}" />
        			<div flex-item="2">
					<lx-button  lx-type="fab" lx-color="blue" lx-size="xs" class="ml+" ng-click="minPay.update();maxPay.update();" ng-disabled="minPay.editvalue==undefined || maxPay.editvalue==undefined"><i class="mdi mdi-check"></i></lx-button>
					<lx-button  lx-type="fab" lx-color="grey" lx-size="xs" class="ml+" ng-click="minPay.cancel();maxPay.cancel();" ><i class="mdi mdi-close"></i></lx-button>
					</div>
				</div>
			</div>
			</div>
			<div ng-if="role===2">
				
			<div class="data-table-container p+">
			    <header class="data-table-header">
			        <div class="data-table-header__label">
			            <strong>我的相关工作经历</strong>
			        </div>
			 
			        <div class="data-table-header__actions">
			            <lx-button lx-size="l" lx-color="black" lx-type="icon" ng-click="addExperience(item)">
			                <i class="mdi mdi-plus"></i>
			            </lx-button>
			        </div>
			    </header>
			 
			    <table class="data-table">
			        <thead>
			            <tr class="data-table">
			            	<th>所在公司</th>
			                <th>工作时间</th>
			                <th>行业</th>
			                <th>
			                    <i class="mdi mdi-comment-text"></i>
			                    <span>经历描述</span></th>
			                <th>
			                	操作
			                </th>
			            </tr>
			        </thead>
			 
			        <tbody ng-repeat="item in exp.all">
			            <tr class="data-table">
			            	<td>{{item.corporate}}</td>
			                <td>{{item.time}}年</td>
			                <td>{{item.industry|getName:"industry"}}</td>
			                <td>{{item.desc}}</td>
			                <td>
					            <lx-button ng-click="editExperience(item)" lx-size="m" lx-color="black" lx-type="icon">
					                <i class="mdi mdi-border-color"></i>
					            </lx-button>
					            <lx-button lx-size="m" lx-color="black" lx-type="icon" ng-click="deleteExperience($index, item)">
					                <i class="mdi mdi-close"></i>
					            </lx-button>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
			</div>
			
	    </lx-tab>
	 
	    <lx-tab lx-label="个人账户" ng-disabled="vm.tabIsDisabled">
	        <p class="p+">Lorem Ipsum Content 2</p>
	    </lx-tab>
	 
	</lx-tabs>
</div>
</div>
<lx-dialog id="experienceDialog" lx-escape-close="true" lx-auto-close="false">
<lx-dialog-header>
        <div class="toolbar bgc-blue-500 pl++">
            <span class="toolbar__label tc-white fs-title">
                {{exp.mode==="edit"?"修改经历":"添加经历"}}
            </span>
        </div>
    </lx-dialog-header>
    <lx-dialog-content>
    <form class="p+">
      <lx-text-field lx-label="公司名称" lx-allow-clear="true" 
	            lx-error="exp.mode!='add'&& exp.current.corporate|isEmptyOrNull">
	        		<input type="text" ng-model="exp.current.corporate">
	   </lx-text-field>
	  <lx-text-field lx-label="工作时间(年)" lx-allow-clear="true" 
	            lx-error=" !(exp.current.time|isEmptyOrNull) &&  exp.current.time|isNaN">
	        		<input type="text" ng-model="exp.current.time">
	   </lx-text-field>
		<lx-select  class="rc-select mt+"  ng-model="exp.current.industry"
	           lx-choices="options.industry"
	           lx-fixed-label="false"
	           lx-allow-clear="true"
	           lx-label="请选择行业"
	           lx-display-filter="true"
	           lx-filter="selectSearchFilter(newValue,'industry')"
	           lx-multiple="false">
	    <lx-select-selected>
	        {{ $selected|getName:"industry" }}
	    </lx-select-selected>

	    <lx-select-choices>
	        {{ $choice|getName:"industry" }}
	    </lx-select-choices>
	    </lx-select>
	    <lx-text-field lx-label="工作描述" lx-allow-clear="true" 
	            lx-error="exp.mode!='add'&& exp.current.desc|isEmptyOrNull">
	        		<input type="text" ng-model="exp.current.desc">
	   </lx-text-field>

		<span class="text-field-error" >{{exp.errmsg}}</span>

	</form>
</lx-dialog-content>
<lx-dialog-footer>
        <lx-button lx-type="flat" lx-color="blue" ng-disabled="!validateExpInput(exp.current)"  
        	ng-click="submitExpChange(exp.current)">确认</lx-button>
        <lx-button lx-color="black" lx-type="flat" lx-dialog-close>取消</lx-button>
    </lx-dialog-footer>
</lx-dialog>
</div>