.text-field--error:after{
  background: transparent;
}

.lx-select--error:after {
  background: transparent!important;
}

.text-field--error.text-field--is-focus:after{
  background: #FF7043;
}
.text-field--error .text-field__label, .text-field-error, .lx-select--error .lx-select-label{
  color: #FF7043 !important;
}

* a{
  text-decoration: none;
}
*{
	font-family: Roboto;
}
.ib-avatar{
  width:120px;
}
.ib-avatar button{
  margin-top: 10px;
  width: 100%;
}
.rc-middle{
	margin-left:auto;
	margin-right:auto;
	clear:both;

}
.data-table-header{
  padding-left:0px;
  padding-right: 0px;
}
input.ng-invalid[type="number"] {
    border-color: red;
}

.rc-select span.lx-select-label {
    top: -24px;
}
.rc-select.lx-select {
    padding-top: 0px;
    padding-bottom: 6px
}
.rc-text.text-field{
  padding-top:0px;
  padding-bottom: 4px; 
}
.rc-text.text-field label.text-field__label{
  top:-4px;
}

.rc-icon-16{
  width: 16px!important;
}
.rc-inline{
  display: inline;
}
.rc-inline label{
  display: inline;
}
.rc-ib{
  display: inline-block;
}
.rc-scale-fixed{
	max-width: 500px;
}
.rc-scale-fixed-600{
  max-width: 600px;
}
strong{
	font-weight: bold;
}
.fs-subhead, .list-subheader{
  font-weight: bold;
}
.center{
	text-align: center;
}


.rc-tag i.icon {
    line-height: 24px;
}



@media screen and (max-width: 1023px) {
  body .header {
    height: 60px; } }

@media screen and (min-width: 1024px) {
  body .header {
    height: 60px;
    } }


.header-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 60px;
}
  @media screen and (max-width: 1023px) {
    .header-top {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); } }

.header-top__wrapper {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }


.header-top__left {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }

.header-top__right {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center; }
  .header-top__right a,
  .header-top__right img {
    display: block;
    height: 30px;
    width: 30px; }
    .header-top__logo {
  height: 60px;
  padding: 12px 0; 
  /*margin-left:20px;*/
}
  .header-top__logo img {
    max-height: 100%; }
.header-top .search-filter {
    margin-left: 50px;
    margin-right: 2	0px;
}
.header-top button{
	font-weight: bold;
}

.bgc-blue-600 .dropdown-link:not(.dropdown-link--is-header):hover {
    background-color: #2196F3;
}

 @media screen and (max-width: 1023px) {
    .header-top__wrapper, .body_wrapper {
      margin: 0 24px; } }
  @media screen and (min-width: 1024px) {
    .header-top__wrapper, .body_wrapper {
      margin-left: auto;
      margin-right: auto;
      width: 960px; } }
  @media screen and (min-width: 1280px) {
    .header-top__wrapper, .body_wrapper {
      width: 1136px; } }
  @media screen and (max-width: 1023px) {
    .header-top__wrapper, .body_wrapper {
      margin-left: 0; } }